// Общие стили
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

// Навигационная панель
header {
  background-color: #f48024;
  padding: 5px 0;
  height: 60px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Основной контент
section {
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

// Футер
footer {
  background-color: #2d2d2d;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
